@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://colorhunt.co/palette/0f0f0f232d3f005b41008170 */
:root {
  --foreground-rgb: #ffffff;
  --background-start-rgb: #232D3F;
  --background-end-rgb: #0F0F0F;
  --primary: #026e50;
  --accent: #10af9a;
}
/* :root {
  --foreground-rgb: #000000;
  --background-start-rgb: #8fe6e1;
  --background-end-rgb: #2bc9c9;
  --accent: #0306c7;
} */



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  color: var(--foreground-rgb);
  background: radial-gradient(var(--background-start-rgb),var(--background-end-rgb));
}

/* @media (min-width: 640px) {
  .app {
      padding-left: 4rem;
      padding-right: 4rem;
  }
} */
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.primary {
  background-color: var(--primary);
}
.accent {
  background-color: var(--accent);
}

.logo_text {
  color: var(--primary);
  @apply max-sm:hidden font-semibold text-xl tracking-wide;
}

.nav_heading {
  color: var(--primary);
  @apply text-lg
}

